<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1 >Examen Avanzado</h1>
    <div id="pruebas">
        {%for preguntas in preguntas_avanzadas%}
        <br><hr>

        {% if loop.index == 1 %}
            
        <p><strong>Pregunta {{ loop.index }} (selección múltiple):</strong></p>
        <p>{{ preguntas }}</p>
        <pre><code>
            for i in range(n):  
                for j in range(n):  
                    print(i, j)
        </code></pre>
        <select name="respuesta" data-index="{{ loop.index0 }}">
            <option value="">--Selecciona una opción--</option>
            {%for r1 in opciones_1%}
            <option value="{{r1}}">{{r1}}</option>
            {%endfor%}
        </select>

        {% elif loop.index == 2 %}
        
        <p><strong>Pregunta {{ loop.index }} (selección múltiple):</strong></p>
        <p>{{ preguntas }}</p>

        <select name="respuesta" data-index="{{ loop.index0 }}">
            <option value="">--Selecciona una opción--</option>
            {%for r2 in opciones_2%}
            <option value="{{r2}}">{{r2}}</option>
            {%endfor%}
        </select>
    
        {% elif loop.index == 3 %}
        
        <p><strong>Pregunta {{ loop.index }} (selección múltiple):</strong></p>
        <p>{{ preguntas }}</p>
        <pre><code>
             def f(n):  
                 if n == 1:  
                     return 1  
                 return n * f(n - 1)
            print(f(4))
        </code></pre>
        <select name="respuesta" data-index="{{ loop.index0 }}">
            <option value="">--Selecciona una opción--</option>
            {%for r3 in opciones_3%}
            <option value="{{r3}}">{{r3}}</option>
            {%endfor%}
        </select>
        
        {% elif loop.index == 4 %}
        
        <p><strong>Pregunta {{ loop.index }} (selección múltiple):</strong></p>
        <p>{{ preguntas }}</p>
 
        <select name="respuesta" data-index="{{ loop.index0 }}">
            <option value="">--Selecciona una opción--</option>
            {%for r4 in opciones_4%}
            <option value="{{r4}}">{{r4}}</option>
            {%endfor%}
        </select>

        {% elif loop.index == 5%}
        
        <p><strong>Pregunta {{ loop.index }} (selección múltiple):</strong></p>
        <p>{{ preguntas }}</p>

        <select name="respuesta" data-index="{{ loop.index0 }}">
            <option value="">--Selecciona una opción--</option>
            {%for r5 in opciones_5%}
            <option value="{{r5}}">{{r5}}</option>
            {%endfor%}
        </select>
        {% elif loop.index == 6%}
        
        <p><strong>Pregunta {{ loop.index }} (selección múltiple):</strong></p>
        <p>{{ preguntas }}</p>
        <pre><code>
             stack = []  
             stack.append(1)  
             stack.append(2)  
             stack.pop()  
             print(stack)
       </code></pre>
        <select name="respuesta" data-index="{{ loop.index0 }}">
            <option value="">--Selecciona una opción--</option>
            {%for r6 in opciones_6%}
            <option value="{{r6}}">{{r6}}</option>
            {%endfor%}
        </select>

        {% elif loop.index == 7%}
        
        <p><strong>Pregunta {{ loop.index }} (selección múltiple):</strong></p>
        <p>{{ preguntas }}</p>
   
        <select name="respuesta" data-index="{{ loop.index0 }}">
            <option value="">--Selecciona una opción--</option>
            {%for r7 in opciones_7%}
            <option value="{{r7}}">{{r7}}</option>
            {%endfor%}
        </select>
        {% elif loop.index == 8%}
        
        <p><strong>Pregunta {{ loop.index }} (selección múltiple):</strong></p>
        <p>{{ preguntas }}</p>
        <pre><code>
            def quicksort(arr):  
                if len(arr) <= 1:  
                    return arr  
                pivot = arr[0]  
                menores = [x for x in arr[1:] if x <= pivot]  
                mayores = [x for x in arr[1:] if x > pivot]  
                return quicksort(menores) + [pivot] + quicksort(mayores)
            
            print(quicksort([3, 2, 1]))
        </code></pre>
        <select name="respuesta" data-index="{{ loop.index0 }}">
            <option value="">--Selecciona una opción--</option>
            {%for r8 in opciones_8%}
            <option value="{{r8}}">{{r8}}</option>
            {%endfor%}
        </select>
        {% elif loop.index == 9%}
        
        <p><strong>Pregunta {{ loop.index }} (selección múltiple):</strong></p>
        <p>{{ preguntas }}</p>
        <pre><code>
            x = {'a': 1, 'b': 2}  
            print(x.get('c', 3))
        </code></pre>
        <select name="respuesta" data-index="{{ loop.index0 }}">
            <option value="">--Selecciona una opción--</option>
            {%for r9 in opciones_9%}
            <option value="{{r9}}">{{r9}}</option>
            {%endfor%}
        </select>
    {% else %}
    <p><strong>Pregunta {{ loop.index }}:</strong></p>
        <p>{{ preguntas }}</p>
        <select name="respuesta" data-index="{{ loop.index0 }}">
            <option value="">--Selecciona una opción--</option>
            {%for r10 in opciones_10%}
            <option value="{{r10}}">{{r10}}</option>
            {%endfor%}
        </select>
    {% endif %}

    {%endfor%}
        <button id="enviarTodo">Enviar</button>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="../static/js/avanzado.js"></script>
</html>